{% extends 'core/base.html' %}

{% block content %}
<div class="p-5 mb-4 bg-white rounded-3 shadow border text-center">
    <div class="container-fluid py-5">
        <h1 class="display-4 fw-bold text-primary">¡Bienvenido a mi proyecto!</h1>
        <p class="col-md-8 mx-auto fs-5 text-muted mt-3">
            Esta es la página de inicio (root) del primer trabajo práctico. Todo está conectado y funcionando a la perfección.
        </p>
        <a href="{% url 'blog' %}" class="btn btn-primary btn-lg mt-4 px-5 shadow-sm">Entrar al Blog</a>
    </div>
</div>
{% endblock %}